.App {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: rgba(243, 243, 243);
  overflow: scroll;
}

.App header {
  padding: 40px 20px 0 20px;
}

.App .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App .main-header b {
  font-weight: 800;
  font-size: 30px;
}

.App .main-header img {
  width: 75px;
  height: 75px;
  border-radius: 75px;

  background-color: gray;
}

.App header h1 {
  padding-top: 10px;

  font-size: 20px;
  font-weight: 600;
}