.Wardrobe {
  width: 100%;
  height: 100vh;

  overflow: scroll;
}

.Wardrobe .categories-item {
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.Wardrobe .categories-item div {
  width: 50%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.Wardrobe .categories-item .active {
  border: 1.5px solid black;
  border-radius: 20px;
}