.Weather {
  width: 100%;
  height: 100vh;

  overflow: scroll;
}

.weather-header {
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-loc {
  padding-right: 20px;
  font-size: 30px;
}

.weather-header input {
  padding: 10px;

  font-size: 20px;
  border: none;
  background: white;
}

.weather-search {
  padding: 17px;
  background: rgba(243, 243, 243);
  border: 1px solid black;
  cursor: pointer;
}

.weather-results {
  display: none;
  margin: 40px 20px 20px 20px;
  padding: 20px;

  border-radius: 20px;

  background-color: white;
  flex-direction: column;
  justify-content: center;
}

.weather-result-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
}

.weather-result-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.weather-result-temp:last-child {
  padding-bottom: 0;
}

.weather-result-temp p {
  font-size: 25px;
}

.weather-result-temp b {
  padding-left: 10px;
  font-size: 30px;
}

.my-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 20px;
}

.add-city {
  text-align: center;
}

.add-city button {
  margin-top: 10px;
  padding: 15px 30px;

  border: 1px solid black;
  border-radius: 15px;
  background: white;
  
  color: black;
  cursor: pointer;
}

.cities-list {
  display: flex;
  flex-direction: column;

  margin: 20px;
  padding: 20px;

  border-radius: 20px;
  margin-bottom: 0;
  background: white;
}

.city {
  padding: 10px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cities-list b {
  font-weight: 600;
  font-size: 25px;
}

.cities-list p {
  font-size: 20px;
}

.weather-right {
  font-size: 20px;
}

.weather-close {
  padding: 5px 7px;

  color: red;
  background: rgba(243, 243, 243);
  border-radius: 50%;
}